$color-titulo:white;
$fuente-tiulo:'Big Shoulders Stencil Text', cursive;
$fuente-navegacion:'Big Shoulders Stencil Text', cursive;
$background-color-footer: #39b3b3;
$background-color-descripcion: #39b3b3;
$color-descripcion: white;